.footer {
	background-color: #3a4b52;
	width: 100%;
	color: white;
	margin-top: 18%;
	text-decoration: none;
}
.wpp__mobile {
	display: none;
}
.paragraphs--footer--mobile, .follow__us__mobile {
	display: none;
}

.logo__footer {
	margin-left: auto;
	width: 40%;
	margin-right: 5%;
}
.logo__footer__img {
	width: 100%;
	-o-object-fit: contain;
	   object-fit: contain;
}

.footer a {
	text-decoration: none;
	color: white;
}

.footer__social {
	margin-bottom: 6px;
}

.footer--fields {
	background-color: #3a4b52;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	    -ms-flex-pack: space-around;
	        justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-column-gap: 2%;
	   -moz-column-gap: 2%;
	        column-gap: 2%;
	height: 400px;
	line-height: 1.3rem;
}

.footer--fields h1 {
	font-size: 16px;
}

.footer--fields p {
	font-size: 14px;
}

.footer__second_col {
	margin-right: auto;
	margin-left: 5%;
}

.f--field {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	row-gap: 8px;
}

.footer h2 {
	font-size: 24px;
}

.footer__follow_us {
	margin-top: 32px;
}

.contato>div>a{
	line-height: 0;
}

.footing--note {
	background-color: black;
	margin-top: 0;
	height: 100px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.footing--note p {
	margin-left: 20%;
}

.socials {
	margin-left: auto;
	/* margin-right: 17%; */
	/* background-color: green; */
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	/* justify-content: space-between; */
}

.socials i {
	margin-left: 12px;
	color: white;
}

.paragraphs--footer {
	/* margin-top: 8px; */
}
.paragraphs--footer p {
	margin-bottom: 8px;
	margin: 0;
}


.rights__reserved {
	line-height: 0;
	background-color: #d8dede;
	height: 64px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-ms-flex-line-pack: center;
	    align-content: center;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-column-gap: 8px;
	   -moz-column-gap: 8px;
	        column-gap: 8px;
}

.rights__reserved img {
	height: 32px;
}

.rights__reserved p {
	margin: 0;
	font-size: 14px;
	color: black;
}

.footer__social {
	height: 28px;
	font-size: 16px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-column-gap: 8px;
	   -moz-column-gap: 8px;
	        column-gap: 8px;
	margin-bottom: 12px;
	text-decoration: none;
	cursor: pointer;
}
.footer__social img {
	height: 100%;
}

.footer__social p {
	margin: 0;
	font-size: 14px;
	-ms-flex-line-pack:center;
	    align-content:center;
}

.contato a {
	text-decoration: none;
	cursor: pointer;
}
.contato>div>a>span {
	font-size:105%;
}


@media  (max-width: 550px) {
	.footer--fields {
		font-size: 3vw;
	}
	.footer h2 {
		font-size: 4vw;
	}
	.footer--fields p {
		font-size: 2.5vw;
	}

	.footer__social {
		margin-bottom: 2.5vw;
	}
.footer--fields {
	height: 70vw;
}

.f--field {
	row-gap: 0;
}

.footer h2 {
	font-size: 4.5vw;
}
.footer__follow_us {
	margin-top: 7vw;
}

.rights__reserved {
	height: 15vw;
}
.rights__reserved img {
	height: 7vw;
}
.rights__reserved p {
	font-size: 2.5vw;
}
.footer__social {
	height: 5vw;
	font-size: 4vw;
	-webkit-column-gap: 2vw;
	   -moz-column-gap: 2vw;
	        column-gap: 2vw;
	margin-bottom: 2.5vw;
}
.footer__social p {
	font-size: 2.5vw;
}
.logo__footer {
	width: 70%;
}
}
